.modal {
    .mobile-entry {
        margin: 4.4rem 0;
        padding: 1rem 0;
    }

    .input-group {
        margin-top: 4.4rem;
    }

    .dark-link {
        color: $body-color;
        font-weight: $font-weight-semibold2;
        &:hover {
            color: $black;
        }
    }
}
