@font-face {
    font-family: 'El Messiri';
    src: url('../fonts/El_Messiri/ElMessiri-Medium.woff2') format('woff2'),
        url('../fonts/El_Messiri/ElMessiri-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('../fonts/El_Messiri/ElMessiri-Bold.woff2') format('woff2'),
        url('../fonts/El_Messiri/ElMessiri-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('../fonts/El_Messiri/ElMessiri-Regular.woff2') format('woff2'),
        url('../fonts/El_Messiri/ElMessiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('../fonts/El_Messiri/ElMessiri-SemiBold.woff2') format('woff2'),
        url('../fonts/El_Messiri/ElMessiri-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

