@keyframes fadeUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes upAndDown {
    
    40% {
        transform: translateY(10%) scale(.93);
        opacity: .9;
    }

    80% {
        transform: translateY(-10%) scale(.93);
        opacity: .9;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    100%{
        width: 100%;
    }
}
